.jumbotron {
  background: url("https://www.merca2.es/wp-content/uploads/2020/03/orden-marvel.jpg");
  color: #f8fafa;
  margin-top: 55px;
}

footer {
  padding: 10px 10px 0 10px;
  background: url("https://revistamorcego.com/wp-content/uploads/2018/09/Download-Free-Spiderman-Wallpaper-786x436.jpg");
  margin-bottom: 0px;
  margin-top: 50px;
  color: white;
}

.title {
  text-align: center;
}

.card-css {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}

.banner {
  width: 100%;
  height: 300px;
}

.iconos-css {
  margin-right: 10px;
}

.villanos {
  flex: 1 200px;
  padding: 5px 5px 5px 5px;
  margin-top: 10px;
}

.border {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
}

.btn-villano {
  width: 100%;
}

.botonCollapse {
  margin-left: 30%;
  margin-bottom: 8px;
}

.imgSlider {
  width: 5000px;
  height: 500px;
}

/*# sourceMappingURL=styles.css.map */
